body{
    margin: 0px;
    padding: 0px;
    background-image: radial-gradient(#c7c7c7 25%, c7c7c7 74%);
    font-family: Arial, Helvetica, sans-serif;
}
.clearfix{
clear:both
}
.main{
    height: 700px;
    width: 700px;
    background-color: white;
    box-shadow: 5px 7px 15px 5px #b9b6b6;
    margin: 20px auto;
    text-align: center;
}
.top-section{
    background-color: #151b29;
    text-align: center;
    padding: 20px;
    color:aliceblue
}
.box{
    width: 26%;
    height: 150px;
    background: #f4f4f4;
    text-align: center;
    padding: 20px;
    float: left;
    margin: 40px 0px 0px 8px;

}
.profile{
    width: 150px;
    border-radius: 50%;
}
